.gitattributes merge=ours
.gitignore merge=ours
README.md merge=ours

.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
/.github export-ignore
/docs export-ignore

*.lua text eol=crlf

